.header {
    display: flex;
    justify-content: center;
    /* Centra todo inicialmente */
    align-items: center;
    padding: 30px;
    background-color: #282c34;
    position: relative;
    /* Necesario para posicionar el icono */
    color: white;
}


.profile-icon {
    position: absolute;
    right: 20px;
    font-size: 24px;
    top: 10px;
}

.profile-icon img {
    width: 35px;
    /* Reduce el tamaño */
    height: 35px;
    border-radius: 50%;
    /* Hace que la imagen sea redonda */
    object-fit: cover;
    /* Evita que se deforme */
    transition: transform 0.2s;
}

.profile-icon img:hover {
    transform: scale(1.3);
}


.login-register {
    color: #0077ff;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 10px;
}

.login-register img,
.login-register svg {
    width: 24px;
    height: 24px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* Centra el título */
    margin: 0;
    color: #ffffff;
    text-decoration: none;
}

.no-login-register a {
    color: #ffffff;
    text-decoration: none;
}

.no-login-register a:hover {
    text-decoration: underline;
}